{% block sidebar %}
<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">About this webapp</h5>
        <div class="card-body">
            <p class="card-text"> This awesome blog is made on the top of my Favourite full stack Framework 'Django'.</p>
            <hr>
            <h5><b>Popular links</b></h5>
            <div class="card">
                <div class="card-body">
                    <a href = "https://www.udemy.com/share/103H1QAEAbcVlQTHUF/" target="_blank">1. Free python course</a><br>
                    <a href = "https://youtu.be/uh84Asy2W4s" target="_blank">2. Make your Chrome extension</a><br>
                    <a href = "https://youtu.be/7833G6ovwTI" target="_blank">3. Increase Concentration video</a><br>
                    <a href = "https://youtu.be/eVlvxHJdql8" target="_blank">4. 13 Study Tips explanation</a><br>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
{% endblock sidebar %}